.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #e9eff9;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1.2em;

  h1 {
    padding-left: 10px;
  }

  img {
    padding-left: 20px;
    width: 50px;
  }
}